body {
  background-color: white;
  margin: 0;
  font-family: 'Merriweather', serif;
}

/*------------------------SECTION 1---------------------------------*/
.container-1 {
  background-color: #49035c;
  height: 80px;
}

.container-1 p {
  margin: 0;
  height: 100px;
}

.menu {
  margin-bottom: 0;
  margin-top: 0;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  float: left;
  padding: 20px 30px;
}

.container-1 ul {
  display: flex;
  position: absolute;
  right: 20px;
  padding: 25px;
}

.container-1 ul li {
  position: relative;
  list-style: none;
}

.container-1 ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

/*------------------------SECTION 2---------------------------------*/
.container-2 {
  background-color: #49035c;
  text-align: center;
  color: white;
  margin-bottom: 40px;
  padding-top: 30px;
  height: 480px;
}

.c22 {
  display: inline-block;
  float: right;
  padding-top: 90px;
  padding-right: 30px;
  margin-top: 30px;
}

.c22 h2 {
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: right;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 10px auto;
}

.c22 h3 {
  font-family: 'Sanchez';
  font-size: 23px;
  color: white;
  text-align: right;
}

.c21 img {
  float: left;
  margin-left: 30px;
}

.faa {
  color: white;
}

/*------------------------SECTION 3---------------------------------*/
.container-3 {
  margin: 0;
  width: 100%;
  background-color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 30px;
}

.heading-3 {
  text-align: center;
  color: #49035c;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
}

.heading-3 h1 {
  margin: 0;
  margin-top: 20px;
}

.c3-p {
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  color: #49035c;
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  font-weight: bold;
}

.w31 {
  width: 60%;
}

.w32 {
  width: 40%;
}

.content-box {
  padding: 10px 70px 20px 80px;
  margin: 10px 40px;
}

.imgIM {
  float: right;
  border-radius: 50%;
  border: 5px solid #49035c;
  border-style: dotted;
  height: auto;
  max-width:100%;
}

.imgdiv {
  padding: 10px 50px 20px 0px;
  margin: 100px auto 20px auto;
}

/*------------------------SECTION 4---------------------------------*/
.container-4 {
  margin: 0;
  width: 100%;
  background-color: #49035c;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}

.container-4 h1 {
  text-align: center;
  color: white;
  margin: 10px auto auto auto;
  padding: 20px auto;
}

.container-4 button{
  float: right;
  display: inline-block;
background-color: white;
color: #49035c;
border-radius: 15px;
padding: 10px;
border: 1px solid white;
}
.pp1{
  float: right;
  width:250px;
  text-align: center;
}
.pp2{
  float: left;
  width:250px;
}

.imgc41 {
  margin-top: 30px;
  width: 50%;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.imgc42 {
  margin-top: 30px;
  width: 50%;
  float: right;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.c4 {
  background-color: rgba(175, 136, 186,0.4);
  width: 50%;
  margin: 20px auto;
  color: white;
  border-radius: 20px;
}

.c4 h3 {
  text-align: center;
  margin: 0;
}

.c4 p {
  margin: 0 20px auto 20px;
  font-size: 25px;
  line-height: 1.0;
  font-family: 'Dongle', sans-serif;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  padding-bottom: 20px;
}

/*----------------------------------------------------------------------SECTION 5----------------*/

.container-5 {
  color: #49035c;
}

/*----------------------------------------------------------------------SECTION 5----------------*/
.container-6{
  background-color: #49035c;
  color: white;
  font-family: 'Dongle', sans-serif;
}
.h61{
  margin-bottom: 0;
    color: white;
}
.h62{
  margin-bottom: 0px;
  margin-top: 0px;
    color: white;
}
.h63{
  padding-top: 30px;
    color: white;
}
.container-6 ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
